<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:display="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{include/CommonScripts::head}"/>

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/header :: search"></div>

<div>
    <div th:each="eventDto : ${eventsDto}" class="border" style="margin: 2%;
   width: 50% !important; ">
        <label style="" for="list" th:text="${eventDto.getTitle()}">Title</label>
        <ul id="list" class="list-group">
            <li class="list-group-item" th:text="${eventDto.description.substring(0,50)}"
                style="word-wrap: break-word">Description
            </li>
            <li class="list-group-item"
                th:text="'from: ' + ${eventDto.getStart()} + ' to: '+ ${eventDto.getEnd()}">
                Date
            </li>
        </ul>
    </div>
</div>


<th:block th:replace="~{include/CommonScripts::end-of-body}"/>
</body>
</html>