<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:display="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{include/CommonScripts::head}"/>

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/search :: search"></div>

<div th:replace="fragments/eventsList :: events"></div>


<th:block th:replace="~{include/CommonScripts::end-of-body}"/>
</body>
</html>