<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <th:block th:include="~{include/CommonScripts::head}"/>
    <style>
        [class*="span"].centred {
            margin-left: auto;
            margin-right: auto;
            float: none;
        }
    </style>
</head>
<body class="text-center">
<div class="container">
    <div class="row">
        <div class="span9 centred">
            <form class="form-signin" th:action="@{/login-process}" method="post">
                <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
                <input type="email" name="email" class="form-control" placeholder="Enter email...">
                <input type="password" name="password" class="form-control" placeholder="Enter password...">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
            </form>
        </div>
    </div>
</div>

<th:block th:include="~{include/CommonScripts::end-of-body}"/>
</body>
</html>

