<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:include="~{include/CommonScripts::head}"/>

</head>
<body>
<form th:action="@{/register}" th:object="${userLoginDto}" method="post">
    <div class="form-group">
        <table>
            <tr>
                <td>Email:</td>
                <td><input type="email" th:field="*{email}"/></td>
                <td class="alert alert-danger" role="alert" th:errors="*{email}"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" th:field="*{password}"/></td>
                <td class="alert alert-danger" role="alert" th:errors="*{password}"></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><input type="text" th:field="*{name}"/></td>
                <td class="alert alert-danger" role="alert" th:errors="*{name}"></td>
            </tr>
        </table>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<th:block th:include="~{include/CommonScripts::end-of-body}"/>
</body>
</html>